* {
  box-sizing: border-box;
}

:root {
  --font-family: 'Gilroy', sans-serif;
  --second-family: 'Museo Sans Cyrl', sans-serif;
  --third-family: 'Inter', sans-serif;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

.garder-quiz {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;

  .garder-quiz-container {
    max-width: 820px;
    width: 100%;
    position: relative;
    background: #232322;
    padding: 40px 20px 20px 20px;
  }

  .garder-quiz-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    border-bottom: 1px solid #f7931d;
    padding: 0px 0px 8px 0px;
    margin-bottom: 24px;
  }

  .garder-quiz-top-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #fff;
  }

  .garder-quiz-step-counter {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #fff;
  }

  .quiz-step-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(18px, 2vw, 24px);
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 24px;
  }
  .garder-quiz-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .quiz-step-options {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .option {
      position: relative;
      .radio-input {
        opacity: 0;
        appearance: none;
        position: absolute;
        inset: 0;
        z-index: 1;
      }
      label {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        padding-left: 36px;
        display: block;
        &:before {
          content: '';
          position: absolute;
          top: 6px;
          left: 0;
          transform: translateY(-50%);
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background: #fff;
          border: 2px solid #767676;
        }
      }

      .radio-input:checked + label:before {
        background: url('../img/checked-icon.svg') no-repeat;
      }
    }
  }

  .quiz-nav {
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

    .quiz-nav-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      color: #232323;
      border: none;
      background: transparent;
      transition: 0.3s ease;
      padding: 8px 20px;
      cursor: pointer;
      @media (any-hover: hover) {
        &:hover {
          opacity: 0.7;
        }
      }
    }

    .quiz-btn-back {
      background: #fff;
      color: #000;
      display: none;
    }
    .quiz-btn-next {
      background: #f7931d;
    }
  }

  .quiz-step {
    display: none;
    transition: 0.3s ease;
  }
  .quiz-step--active {
    display: flex;
    flex-direction: column;
  }

  .quiz-step-gallery {
    display: flex;
    gap: 10px;
    overflow: auto;
    .option {
      position: relative;

      .checkbox-input {
        position: absolute;
        inset: 0;
        z-index: 1;
        appearance: none;
        opacity: 0;
        cursor: pointer;
      }

      img {
        filter: grayscale(1);
        transition: 0.3s ease;
      }

      label {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        text-align: center;
      }
      @media (any-hover: hover) {
        &:hover {
          img {
            filter: grayscale(0);
          }
        }
      }

      .checkbox-input:checked + img {
        filter: grayscale(0);
      }
    }

    &::webkit-scrollbar {
      height: 6px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #f7931d;
      border-radius: 3px;
      transition: 0.3s ease;
    }
  }

  .quiz-step-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    input {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      color: #666;
      border: none;
      background: transparent;
      border-bottom: 1px solid #fff;
      padding-bottom: 8px;
      flex: 1 1 244px;
      outline: none;

      &:focus {
        border-bottom: 1px solid #f7931d;
      }
    }
  }

  .quiz-step-options--col {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  .input-file {
    display: none;
  }

  .quiz-step-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
    input {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      color: #666;
      border: none;
      background: transparent;
      border-bottom: 1px solid #fff;
      padding-bottom: 8px;
      outline: none;

      &:focus {
        border-bottom: 1px solid #f7931d;
      }
    }

    .file-btn {
      display: flex;
      align-items: center;
      gap: 10px;
      transition: color 0.3s ease;
      border: none;
      background: transparent;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      color: #fff;
      cursor: pointer;
      @media (any-hover: hover) {
        &:hover {
          color: #f7931d;
        }
      }
    }
  }

  scrollbar-width: thin;
  scrollbar-color: #f7931d transparent;
}

.garder-quiz--active {
  opacity: 1;
  visibility: visible;
}

.garder-quiz-thanks {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s eaes;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  .garder-quiz-thanks-container {
    padding: 80px 20px;
    max-width: 820px;
    position: relative;
    background: #232323;
    width: 100%;
  }

  .garder-quiz-thanks-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
  }

  p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
  }

  span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #999;
  }
  .garder-quiz-thanks-content {
    display: flex;
    flex-direction: column;
    max-width: 720px;
    margin: 0 auto;
  }

  .garder-quiz-thanks-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}
